/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

    Created on : Mar 16, 2015, 4:20:20 PM
    Author     : Tejashri Pawar
*/
#cssmenu ul, #cssmenu li, #cssmenu span, #cssmenu a {
	margin: 0;
	padding: 0;
	position: relative;
}

.header {
	width: 100%;
	height: 53px;
	position: fixed;
	top: 0;
	background: #141414;
	background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333),
		color-stop(100%, #141414));
	background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
	background: -o-linear-gradient(top, #333333 0%, #141414 100%);
	background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
	background: linear-gradient(to bottom, #333333 0%, #141414 100%);
	border-bottom: 3px solid #0fa1e0;
	z-index: 9999;
	font-family: arial;
}

.header #cssmenu {
	line-height: 1;
	width: 60%;
	height: 53px;
	float: left;
	}

#cssmenu:after, #cssmenu ul:after {
	content: '';
	display: block;
	clear: both;
}

#cssmenu a {
	color: #ffffff;
	display: block;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	padding: 19px 30px;
	text-decoration: none;
}

#cssmenu ul {
	list-style: none;
	width: 90%;
	margin: 0px auto;
}

#cssmenu>ul>li {
	display: inline-block;
	float: left;
	margin: 0;
	-webkit-transition: all 0.2s;
}

#cssmenu.align-center {
	text-align: center;
}

#cssmenu.align-center>ul>li {
	float: none;
}

#cssmenu.align-center ul ul {
	text-align: left;
}

#cssmenu.align-right>ul {
	float: right;
}

#cssmenu.align-right ul ul {
	text-align: right;
}

#cssmenu>ul>li>a {
	color: #ffffff;
	font-size: 15px;
}

#cssmenu>ul>li:hover:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	bottom: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #0fa1e0;
	margin-left: -10px;
}

  #cssmenu>ul>li:nth-child(3):hover:after
	{
	border-left: none;
	border-right: none;
	border-bottom: none
} 
 
#cssmenu>ul>li.active>a {
	color: #ffffff;
	box-shadow: inset 0 0 0px #000000;
	-moz-box-shadow: inset 0 0 0px #000000;
	-webkit-box-shadow: inset 0 0 0px #000000;
}

#cssmenu>ul>li:hover>a {
	color: #ffffff;
	box-shadow: inset 0 0 3px #000000;
	-moz-box-shadow: inset 0 0 3px #000000;
	-webkit-box-shadow: inset 0 0 3px #000000;
	background: #070707;
	background: -moz-linear-gradient(top, #262626 0%, #070707 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626),
		color-stop(100%, #070707));
	background: -webkit-linear-gradient(top, #262626 0%, #070707 100%);
	background: -o-linear-gradient(top, #262626 0%, #070707 100%);
	background: -ms-linear-gradient(top, #262626 0%, #070707 100%);
	background: linear-gradient(to bottom, #262626 0%, #070707 100%);
}

#cssmenu .has-sub {
	z-index: 1;
}

#cssmenu .has-sub:hover>ul {
	display: block;
	margin-top: 1px;
}

#cssmenu .has-sub ul {
	display: none;
	position: absolute;
	width: 210px;
	top: 100%;
	left: 0;
	box-shadow: 2px 2px 2px 1px black;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.6);
	box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.6);
	background: #0C7FB0;
	opacity: 1;
	-webkit-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

#cssmenu.align-right .has-sub ul {
	left: auto;
	right: 0;
	background: #0c7fb0;
}

#cssmenu .has-sub ul li {
	*margin-bottom: -1px;
	overflow: hidden;
	border-left: 4px solid #0fa1e0;
	border-right: 4px solid #0fa1e0;
	-webkit-transition: height 0.5s;
}

#cssmenu .has-sub ul li:last-child {
	border-bottom: 4px solid #0fa1e0;
}

#cssmenu .has-sub ul li:first-child {
	border-top: 4px solid #0fa1e0;
}

#cssmenu .has-sub ul li a {
	background: #0fa1e0;
	border-bottom: 1px solid #31b7f1;
	font-size: 13px; 
	filter: none;
	display: block;
	line-height: 25px;
	padding: 5px 30px;
	color: #ffffff;
}

#cssmenu .has-sub ul li:hover a {
	/* font-size: 14px; */
	background: #0c7fb0;
	text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
	text-shadow: 0 1px 1px #000;
}

#cssmenu ul ul li:hover>a {
	color: #ffffff;
}

#cssmenu .has-sub .has-sub:hover>ul {
	display: block;
}

#cssmenu .has-sub .has-sub ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
}

#cssmenu.align-right .has-sub .has-sub ul, #cssmenu.align-right ul ul ul
	{
	left: auto;
	right: 100%;
}

#cssmenu .has-sub .has-sub ul li a {
	overflow: hidden;
	font-size: 18px;
	background: #0c7fb0;
	border-bottom: 1px dotted #31b7f1;
}

#cssmenu .has-sub .has-sub ul li a:hover {
	background: #0a6d98;
}

.main {
	height: auto;
	width: 300px;
	float: right;
	margin-right: 100px;
}

.main .user-icon {
	height: 53px;
	width: 53px;
	border-radius: 50%;
	float: right;
	/* background: white;  */
	cursor: pointer;
}

#menu_opener:hover #submenu {
	display: block;
}

.main #submenu {
	height: 150px;
	width: 300px;
	background-color: #f5f5f5;
	float: right; //
	border-radius: 6px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.45);
	display: none;
	z-index: 999;
	border-top: 3px solid #0c7fb0;
}

.main #submenu .Pro-pic {
	height: 106px;
	width: 98px;
	float: left;
	/* border: 2px solid lightgray; */
	overflow:hidden;
}

.main #submenu .Pro-pic img {
	height: 93px;
	width: 80px;
	margin: 8px 10px;
}

.user-icon img {
	border-radius: 50%;
}

.main #submenu .u-info {
	height: 110px;
	width: 198px;
	float: left;
	background: #fff;
		}
.main #submenu .u-info h1{
	color: black;
	margin-left:5px;
	font-size: 18px;
	line-height: 25px;
}
.main #submenu .u-info .u_name h2 {
	margin: 5px 5px;
	width:95%;
	font-size: 17px;
	float: left;
}

.main #submenu .u-info .u_mailid h3{
	margin-left: 5px;
    color: gray;
}

.main #submenu .signout {
	float:left;
	height: 30px;
	border-top:1px solid lightgray;
	width: 99.5%;
	background:#F5F5F5;
	padding-top: 10px;
}

.main #submenu .signout a {
	overflow: hidden; text-decoration : none;
	/*  border: 1px solid gray;  */
	font-size: 17px;
	color:black;
	padding: 5px 10px;
	margin-left: 100px ;
	margin-top:15px;
	text-decoration: none;
}
/*=============================Responsive Media Query=================================================*/
@media screen and(max-width:1200px) {
	#cssmenu {
		margin-left: 50px;
		width: 60%;
	}
	#cssmenu a {
		padding: 19px 5px;
	}
	#cssmenu .has-sub {
		padding: 10px;
	}
	.special_link {
		width: 30%;
	}
}

@media screen and(max-width:760px) {
}