.container{
    height: 40px;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
}
.section_wrapar{
    width: 90%;
    height: auto;
    background: white;
    margin: 10px auto 0px;
    overflow: hidden;
    z-index: 0;
   
background: #FFFFFF;
}


.section_wrapar .ver_add-wrapar{
    width: 15%;
    height: 825px;
    background: white;
    float: left;
    /*background: red;*/
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 20px;
    background: whitesmoke;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.4);
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}


.section_wrapar .ver_add-wrapar .ver_add{
    width: 93%;
    height: 810px;
    background: white;
    /*background: red;*/
    margin: 7px auto;
    border-radius: 5px;

    
}
 .section_wrapar .ver_add-wrapar  #verticalScroller {
    position: absolute;
     width: 180px;
   height: 810px;
/*    border: 1px solid red;*/
    overflow: hidden;
    margin: 5px;
    background: #FFFFFF;
}

#verticalScroller > div{
    position:absolute;
    width:160px;
    height:100px;
    overflow:hidden;
    margin-left: 8px;
    
   
    /*border: 1px #004A7F solid;*/
}
#verticalScroller > div img{
    height: 100px;
    width: 150px;
    
}


.section_wrapar .ver_add-wrapar .ver_add img{
    height: 100px;
    width: 150px;
    margin:20px;
}
.section_wrapar .middle_part{
    width: 55%;
    height: 850px;
    float: left;
    margin-left: 10px;
    margin-top: 14px;
}
.section_wrapar .middle_part .pagination_sort{
    width: 100%;
    height: 100px;
    -webkit-box-shadow: 5px 0px 3px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 5px 0px 9px 0px rgba(50, 50, 50, 0.45);
    box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.45);
}
.section_wrapar .middle_part .Sortby{
    width: 40%;
    height: 100%;
    overflow: hidden;
    font-family: calibri;
    float: left;
}
.section_wrapar .middle_part .Sortby .filter{
	width:100%;

	margin-top:30px;

	
}
.section_wrapar .middle_part .Sortby .filter label{
	font-size:15px;
	font-weight: bold;
	color: #555;
	margin-right: 10px;
	margin-left: 15px;
	
}
.section_wrapar .middle_part .Sortby .filter select{
	padding:8px;
	 -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    border-radius:3px;
}
.section_wrapar .middle_part .content{
    width: 100%;
    height: 400px;
}
.section_wrapar .middle_part .content nav{
    height: 43px;
    width: 100%;
    background: #FFFFFF;
    margin-top: 10px;
    -webkit-box-shadow: 5px 0px 3px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 5px 0px 9px 0px rgba(50, 50, 50, 0.45);
    box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.45);
}
.section_wrapar .middle_part .content nav ul{
    list-style: none;
}
.section_wrapar .middle_part .content nav ul li{
    float: left;
    margin: 2px 0px;
    border-left: solid 1px #dedede;
    line-height: 39px;
}
.section_wrapar .middle_part .content nav ul li:first-child{
    border-left: none;
}
.section_wrapar .middle_part .content nav ul li a{
    text-decoration: none;
    padding: 0px 39.6px;
    color: #666;
    font-family: roboto,arial;
    font-size: 16px;
}
/*.section_wrapar .middle_part .content nav ul li.active{
    border-bottom:4px solid #156A99;
    background: gray;
}*/
.section_wrapar .middle_part .content nav ul li:hover{
    /*background: gray;*/
    /*border-bottom: 5px solid #0fa1e0;*/
    cursor: pointer;
}
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0fa1e0;
  height: 5px;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.section_wrapar .middle_part .content .institute{
    width: 100%;
    height: 600px;
    list-style: none;
    margin-top: 2px;
    overflow: hidden;
    background: whitesmoke;
    -webkit-box-shadow: 5px 0px 3px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 5px 0px 9px 0px rgba(50, 50, 50, 0.45);
    box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.45);
}
.section_wrapar .middle_part .content .institute .top-institute{
    height: 530px;
    width: 30%;
    float: left;
    margin-left: 17px;
    margin-top: 15px;
}
.section_wrapar .middle_part .content .institute .top-institute ul li{
    list-style: none;
}
.section_wrapar .middle_part .content .institute .top-institute ul li h1{
    font-size: 15px;
    font-family: roboto,arial;
    color: #666;
    font-weight: bold;
    margin:15px 0px 15px 20px;
}
.section_wrapar .middle_part .content .institute .top-institute ul li a{
    text-decoration: none;
    color: #666;
    font-family: roboto,arial;
    font-size: 13px;
    line-height: 25px;
    margin-left: 25px;
}
.section_wrapar .right_part{
    width: 24%;
    height: 564px;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}
.section_wrapar .right_part .top_cat_box{
    width: 100%;
    height: 450px;
    background: whitesmoke;
    /*box-shadow: 1px 1px 1px 1px #666;*/
    position: relative;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.4);
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}
.section_wrapar .right_part .top_cat_box div{
    position: absolute;
    top:8px;
    left: 8px;
    right: 10px;
    bottom: 10px;
}
.section_wrapar .right_part .top_cat_box div img{
    width: 290px; 
    height: 280px;
    border-radius: 5px;
}
.section_wrapar .right_part .bottom_ban_box{
    width: 99%;
    height: 365px;
    margin: 10px auto;
    background: whitesmoke;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.4);
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}
.section_wrapar .right_part .bottom_ban_box h1{
    font-size: 20px;
    font-family: calibri;
    margin: 11px 40px;
    letter-spacing: 1px;
    color: #0C7FB0;
    font-weight: bold;
    text-align: center;
}
.section_wrapar .right_part .bottom_ban_box .text_slide{
    width: 290px;
    height: 315px;
    background: #FFFFFF;
    margin-left: 7px;
    border-radius: 5px;
    list-style: none;
}
.section_wrapar .right_part .bottom_ban_box .text_slide li{
    list-style: none;
    line-height: 40px;
    margin-left: 25px;
}


.section_wrapar .middle_part .pagination_sort .paging_wrapper{

  width:60%;
  height:100%;
  float: left;
  
}
.archive-pages{

}
.paging{
  
  margin:20px 12px;
  width:500px;
 
}
/*****Delete this*****/

.archive-pages li a:hover{
  color:#000;
}
.archive-pages li.selected{
  color:white; 
}
.archive-pages a,
.archive-pages a:visited{
  color:#555;
}
.archive-pages li.selected{
  color:white;
  padding:5px;
  width:18px;
  line-height:20px;
  background: rgb(53,121,214); 
  background: -moz-radial-gradient(center, ellipse cover,  rgba(53,121,214,1) 0%, rgba(53,121,214,1) 91%, rgba(27,85,157,1) 100%); 
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(53,121,214,1)), color-stop(91%,rgba(53,121,214,1)), color-stop(100%,rgba(27,85,157,1))); 
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(53,121,214,1) 0%,rgba(53,121,214,1) 91%,rgba(27,85,157,1) 100%); 
  background: -o-radial-gradient(center, ellipse cover,  rgba(53,121,214,1) 0%,rgba(53,121,214,1) 91%,rgba(27,85,157,1) 100%); 
  background: -ms-radial-gradient(center, ellipse cover,  rgba(53,121,214,1) 0%,rgba(53,121,214,1) 91%,rgba(27,85,157,1) 100%); 
  background: radial-gradient(ellipse at center,  rgba(53,121,214,1) 0%,rgba(53,121,214,1) 91%,rgba(27,85,157,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3579d6', endColorstr='#1b559d',GradientType=1 ); 
}
.archive-pages li.selected:hover{
  cursor:default;
  background: rgb(53,121,214); 
  background: -moz-radial-gradient(center, ellipse cover,  rgba(53,121,214,1) 0%, rgba(53,121,214,1) 91%, rgba(27,85,157,1) 100%); 
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(53,121,214,1)), color-stop(91%,rgba(53,121,214,1)), color-stop(100%,rgba(27,85,157,1))); 
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(53,121,214,1) 0%,rgba(53,121,214,1) 91%,rgba(27,85,157,1) 100%); 
  background: -o-radial-gradient(center, ellipse cover,  rgba(53,121,214,1) 0%,rgba(53,121,214,1) 91%,rgba(27,85,157,1) 100%); 
  background: -ms-radial-gradient(center, ellipse cover,  rgba(53,121,214,1) 0%,rgba(53,121,214,1) 91%,rgba(27,85,157,1) 100%); 
  background: radial-gradient(ellipse at center,  rgba(53,121,214,1) 0%,rgba(53,121,214,1) 91%,rgba(27,85,157,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3579d6', endColorstr='#1b559d',GradientType=1 );
}
.archive-pages li:hover{
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(196,196,196,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(196,196,196,1))); 
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(196,196,196,1) 100%); 
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(196,196,196,1) 100%); 
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(196,196,196,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(196,196,196,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#c4c4c4',GradientType=0 ); 
}
.archive-pages li a{
  cursor:pointer; 
  line-height:20px;
  display:block;
  padding:5px;
  float:left;
  width:18px;
  text-aling:center;
}
.archive-pages{
  diaply:block;
  background-color:#f4f4f4;
  float:left;
  padding:0px;
  margin:0px;
  font-size:.8em;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  
 
}
.archive-pages ul{
  float:left;
  margin:0px;
  padding:10px;
  list-style:none;
  background: #fff;
  border: none;
}
.archive-pages li{
  border:1px solid silver;
  float:left;
  font-weight:700;
  margin:0 2px;
  text-align:center;
  border-radius: 3px; 
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px;  
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(214,214,214,1) 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(214,214,214,1))); 
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(214,214,214,1) 100%); 
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(214,214,214,1) 100%); 
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(214,214,214,1) 100%); 
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(214,214,214,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d6d6d6',GradientType=0 );
}
.archive-pages .first a,
.archive-pages .previous a,
.archive-pages .next a,
.archive-pages .last a{
  overflow:hidden;
  white-space:nowrap;
  -webkit-transition-duration: 300ms;
  -webkit-transition-property: width,text-indent,letter-spacing;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 300ms;
  -moz-transition-property: width,text-indent,letter-spacing;
  -moz-transition-timing-function: ease;
  -o-transition-duration: 300ms;
  -o-transition-property: width,text-indent,letter-spacing;
  -o-transition-timing-function: ease;
}
.archive-pages a{
  text-decoration:none; 
}
.archive-pages .next a:after,
.archive-pages .last a:after{
  content:" »";
}
.archive-pages .first a:before,
.archive-pages .previous a:before{
  content:'« '
}
.archive-pages .first a:hover,
.archive-pages .previous a:hover,
.archive-pages .next a:hover,
.archive-pages .last a:hover{
  width: 100px;
  text-indent:0;
  letter-spacing:0px;
}
.archive-pages .first a{
  text-indent:+6px;
  letter-spacing:10px;
}
.archive-pages .previous a{
  text-indent:+7px;
  letter-spacing:10px;
}
.archive-pages .next a{
  text-indent:-159px;
  letter-spacing:10px;
}
.archive-pages .last a{
    text-indent:-154px;
  letter-spacing:10px;
}

