/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 9, 2015, 12:30:32 PM
    Author     : Tejashri Pawar
*/
body{
	overflow-x:hidden; 
}
.container .container-form-wrapar .banner {
	height: 200px;
	width: 100%;
	/* background: #0094FF; */
}

.acord {
	width: 81%;
}

.acord .acord_head {
	cursor: pointer;
	padding: 10px 25px;
	margin: 3px 0 0 0;
	background-color: #f5f5f5;
	font-size: 17px;
	color: #000;
	position: relative;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}
.acord .plus span, .acord .minus span {
	background: url(../../resources/images/acordSprite2.png) no-repeat; 
	width: 8px; 
	height: 8px; 
	top: 17px; 
	left: 10px; 
	position: absolute; 
	}
.acord .minus span { 
	background-position: 0px -9px; 
	}
.acord .plus span {
	background-position: 0px 0px; 
	}
.acord .acord_head:hover {
	background-color: #cecece;
}


.acord .acord_cont {
	padding: 2.5em 2.2em;
	border-top: 0;
	overflow: auto;
	display: none;
	border: solid #ccc;
	border-width: 1px;
}
.acord .acord_cont text{
	color: red;
}
 .acord .acord_cont span{
	color: red;
	font-family: arial;
	font-size: 12px;
	margin-left: 10px;
	line-height: 30px;
} 
.acord .acord_cont .name {
		height: 30px;
	margin: 0px 0px 20px 0px;
}

.acord .acord_cont .email {
	height: 30px;
	margin: 0px 0px 20px 0px;
}
.acord .acord_cont .photo img {
	margin-left: 335px;
	margin-bottom: 20px;
	border: 1px groove #000;
}

.acord .acord_cont .photo .fileUpload {
    position: relative;
    overflow: hidden;
    margin-left: -125px;
    margin-top:35px;
    float: inherit;
}
.acord .acord_cont .photo .fileUpload span{
	
	 color: #fff !important;
	 margin: 0px 0px 0px -15px;
}
.acord .acord_cont .photo .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.acord .acord_cont .photo  .btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
 
}
.acord .acord_cont .photo .btn {
  display: inline-block;
  padding: 5px 25px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.acord .acord_cont .oldpass {
	height: 30px;
	margin: 0px 0px 20px 0px;
}
.acord .acord_cont .newpass {
	height: 30px;
	margin: 0px 0px 20px 0px;
}
.acord .acord_cont .conpass {
	height: 30px;
	margin: 0px 0px 20px 0px;
}
.acord .acord_cont .emptype {
	height: 30px;
	margin: 0px 0px 20px 0px;
}

.acord .acord_cont .industry {
	height: 30px;
	margin: 0px 0px 20px 0px;
}

.acord .acord_cont .funArea {
	height: 30px;
	margin: 0px 0px 20px 0px;
}

.acord .acord_cont .employer {
	height: 30px;
	margin: 0px 0px 20px 0px;
}

.acord .acord_cont .jobProf {
	height: 100px;
	margin: 0px 0px 20px 0px;
}

.acord .acord_cont .jobProf textarea {
	height: 100px;
	width: 300px;
	resize: none;
	padding: 5px 0px 0px 10px;
	font-size: 15px;
	font-family: calibri;
}

.acord .acord_cont .flatNo {
	height: 30px;
	margin: 0px 0px 20px 0px;
}

.acord .acord_cont .street {
	height: 30px;
	margin: 0px 0px 20px 0px;
}

.acord .acord_cont .landmark {
	height: 30px;
	margin: 0px 0px 20px 0px;
}

.acord .acord_cont .pin {
	height: 30px;
	margin: 0px 0px 20px 0px;
}

.acord .acord_cont .country {
	float: left;
	height: 30px;
	width: 290px;
	margin: 0px 0px 20px 0px;
	height: 30px;	
}

.acord .acord_cont .country label {
	width: 150px;
}

.acord .acord_cont .country select {
	width: 130px;
}

.acord .acord_cont .state {
	float: left;
	height: 30px;
	width: 240px;
	margin: 0px 0px 20px 0px;
}

.acord .acord_cont .state label {
	width: 80px;
}

.acord .acord_cont .state select {
	width: 130px;
}

.acord .acord_cont .city {
	float: left;
	height: 30px;
	width: 190px;
	margin: 0px 0px 20px 0px;
}

.acord .acord_cont .city label {
	width: 50px;
}

.acord .acord_cont .city select {
	width: 130px;
}

.acord .acord_cont form .save {
	height: 30px;
	margin: 0px 0px 30px 0px;
}

.acord .acord_cont #cont {
	height: auto;
	margin: 0px 0px;
	width: 100%;
	float: left;
}
.acord .acord_cont #cont p{
	float: left;
	height:30px;
	margin-bottom: 20px;
}

.acord .acord_cont #cont p input[type=text] {
	width: 188px;
	height: 30px;
	float: left;
	margin-right: 5px;
}

.acord .acord_cont #cont p select {
	width: 100px;
	margin-right: 10px;
}

.acord .acord_cont #cont p label {
	line-height: 20px;
}
.acord .acord_cont .btn{
	height: 25px;
	width: 5%;
	float:left;
	cursor:pointer;
    margin-left: 15px;
}
input[type="button"] {	
	cursor: pointer;
	border-radius:5px;
	height: 30px;
	width: 30px;
	font-size: 20px;
	color:dimgray;
	margin-bottom: 20px;
	float: left;	
}

.acord .acord_cont .website {
	width:100%;
	float:left;
	height: 30px;
	margin: 10px 0px 20px 0px;
}

.acord .acord_cont .secmail {
	float:right;
	width:100%;
	height: 30px;
	margin: 0px 0px 20px 0px;
	overflow: hidden;
}
.acord .acord_cont #cont input[type="button"].addcontact1 {
	height: 25px;
	width: 25px;
	border-radius:50%;
	margin-left:10px;
	margin-top: 2px;
	font-weight: bold;
}
.acord .acord_cont input[type="reset"] {
	float: left;
	border: none;
	width:80px !important;
	font-size: 18px;
	height: 30px;
	color: #FFFFFF;
	margin-left: 10px;
	margin-top:20px;
	border-radius: 5px;
	cursor: pointer;
	background: rgb(135, 224, 253); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(135,
		224, 253, 1)), color-stop(40%, rgba(83, 203, 241, 1)),
		color-stop(100%, rgba(5, 171, 224, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd',
		endColorstr='#05abe0', GradientType=0);
	border: none; /* IE6-9 */
}
.acord .acord_cont input[type="button"] {
	float: left;
	border: none;
	width:180px;
	font-size: 18px;
	height: 30px;
	color: #FFFFFF;
	margin-left: 270px;
	margin-top:15px;
	border-radius: 5px;
	cursor: pointer;
	background: rgb(135, 224, 253); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(135,
		224, 253, 1)), color-stop(40%, rgba(83, 203, 241, 1)),
		color-stop(100%, rgba(5, 171, 224, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd',
		endColorstr='#05abe0', GradientType=0);
	border: none; /* IE6-9 */
}

.acord .acord_cont input#skip1{
	float: left;
	border: none;
	width: 80px;
	font-size: 18px;
	height: 30px;
	color: #FFFFFF;
	margin-left: 10px;
	margin-top:15px;
	border-radius: 5px;
	cursor: pointer;
	background: rgb(135, 224, 253); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(135,
		224, 253, 1)), color-stop(40%, rgba(83, 203, 241, 1)),
		color-stop(100%, rgba(5, 171, 224, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd',
		endColorstr='#05abe0', GradientType=0);
	border: none; /* IE6-9 */
}

.acord .acord_cont input#chngpass{
	float: left;
	border: none;
	width: 80px;
	font-size: 18px;
	height: 30px;
	color: #FFFFFF;
	margin-left: 300px;
	margin-top:20px;
	border-radius: 5px;
	cursor: pointer;
	background: rgb(135, 224, 253); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(135,
		224, 253, 1)), color-stop(40%, rgba(83, 203, 241, 1)),
		color-stop(100%, rgba(5, 171, 224, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(135, 224, 253, 1) 0%,
		rgba(83, 203, 241, 1) 40%, rgba(5, 171, 224, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd',
		endColorstr='#05abe0', GradientType=0);
	border: none; /* IE6-9 */
}

.acord .acord_cont .contact {
	height: 30px;
	margin: 0px 0px 20px 0px;
}

.acord .acord_cont form label {
	font-family:calibri;
	font-size: 16px;
	width: 250px;
	float: left;
	text-align: right;
	color: #000;
	clear: left;
	margin: 6px 4px 0px 0px;
	padding: 0px;
}

.acord .acord_cont form a {
	line-height: 30px;
	color: dimgray;
	text-decoration: none;
	/*float: left;*/
}

.acord .acord_cont form a:hover {
	text-decoration: underline;
}

input[type=text] {
	padding-left: 10px;
	height: 30px;
	width: 300px;
	font-size: 13px;
}
input[type=text]:FOCUS,input[type=email]:FOCUS,textarea:FOCUS{
	border: 1px solid #40A9DF;
	box-shadow: 0 0 3px #40A9DF;
	-webkit-box-shadow: 0 0 3px #40A9DF;
	-o-box-shadow: 0 0 3px #40A9DF;
	-moz-box-shadow: 0 0 3px #40A9DF;
}
input[type=password] {
	padding-left: 10px;
	height: 30px;
	width: 300px;
	font-size: 13px;
}
input[type=password]:FOCUS{
	border: 1px solid #40A9DF;
	box-shadow: 0 0 3px #40A9DF;
	-webkit-box-shadow: 0 0 3px #40A9DF;
	-o-box-shadow: 0 0 3px #40A9DF;
	-moz-box-shadow: 0 0 3px #40A9DF;
}
input[type=email] {
	padding-left: 10px;
	height: 30px;
	width: 300px;
	font-size: 13px;
}

button {
	height: 28px;
	width: 80px;
	cursor: pointer;
	margin-left: 5px;
}

.acord .acord_cont form select {
	font-family: Georgia;
	font-size: 12px;
	float: left;
	width: 210px;
	border: 1px solid #cccccc;
	margin: 0px 4px 2px 2px;
	color: #999;
	height: 30px;
	padding: 3px;
	/*  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;  */
}

.acord .active {
	display: block;
}

.acord .disable {
	background-color: #C0C0C0;
}